    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.2.js"></script>
    <script src="https://www.promisejs.org/polyfills/promise-7.0.1.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="/public/javascripts/metisMenu.js"></script>
    <script type="text/javascript" src="/public/javascripts/sb-admin-2.js"></script>

    <script type="text/javascript" src="/public/javascripts/custom.js"></script>
        <!-- /#page-wrapper -->

    </div>

</body>
</html>